@model test.TJobTitle

<h2> Remove Job Title </h2>
<h3>Are you sure you want to delete this?</h3>
<div>
	<table class="table table-responsive">
		<tr>
			<td>@Html.LabelFor(model => model.strJobTitleDesc, "Job Title:")</td>
			<td>@Html.DisplayFor(a => a.strJobTitleDesc)</td>
		</tr>

	</table>
</div>


@using (Html.BeginForm("Delete", "TJobTitles", FormMethod.Post, new { id = "deleteForm" })) 
{
	<p>
		@Html.AntiForgeryToken()
		@Html.HiddenFor(a => a.intJobTitleID)
		<input type="submit" value="Delete" style="background-color:red; color:white" />
	</p>
}

