@model IEnumerable<test.TPetImage>

@{
	ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PetOwnerHome</title>
</head>
<body>
	<div class="invisible-box">
		@foreach (var item in Model) {
			<a style="color:#5cb85c; text-decoration:none; padding-left: 15px" href='@Url.Action("Details", "TPets", new { id = item.intPetID })' ;return false;>

				<div class="home-btn">
					<div style="text-align:center; padding-top:5px">
						@Html.DisplayFor(modelItem => item.TPet.strPetName)
					</div>
					<div>
						<img src="/TPetImages/getimg?intPetImageID=@item.intPetImageID" alt="image" class="centerimg" />
					</div>

				</div>
				</a>
				}
		</div>


</body>
</html>
