
@{
    ViewBag.Title = "About Us"; }


<style>

    .user-image-container {
        height: unset;
    }
</style>


<h2>@ViewBag.Title</h2>

<div class="body-content">
    <div class="form-horizontal">
        <p>
            We are "The Capstone Pets" team made up of four Developers:

            Jyhdel Mae Pamonag
            ,Sharon Chinhondo
            ,Tabitha Godsey
            ,Neina Cichon
        </p>

        <p> We pride ourselves on working closely with you and to offer the best of our professional services. We are a high-quality, low cost developers where all your needs will be satisfied. </p>

        <p> Our experienced and qualified team provides services that aid in making your websites thrive. Through continuing education we stay up to date with the most recent developments within our field, and are devoted to exercising compassion in all of our interactions. </p>

        <p> Thank you for using our web application and for your support. </p>
    </div>
</div>

<script>
    $(document).ready(function () {
        SetActiveMenus('aboutus');
    });
</script>

