
@{
    ViewBag.Title = "Help";
}


<h2>@ViewBag.Title</h2>

<div class="body-content">
    <div class="form-horizontal">
        <p>For any assistance please contact any of the Developers at:.</p>
        <div class="user-image-container">
            <div class="section">
                <div>Tabitha Godsey</div>
                <a href="mailto:trgodsey@cincinnatistate.com?subject=Tri-State Music Events">Email the architect.</a>.<br>
            </div>
        </div>


        <div class="user-image-container">
            <div class="section">
                <div>Sharon Chinhondo</div>
                <a href="mailto:stchinhondo@cincinnatistate.com?subject=Tri-State Music Events">Email the architect.</a>.<br>
            </div>
        </div>

        <div class="user-image-container">
            <div class="section">
                <div> Jyhdel Mae Pamonag</div>
                <a href="mailto:jlpamonag@cincinnatistate.com?subject=Tri-State Music Events">Email the architect.</a>.<br>
            </div>
        </div>


        <div class="user-image-container">
            <div class="section">
                <div>Neina Cichon</div>
                <a href="mailto:ncichon@cincinnatistate.com?subject=Tri-State Music Events">Email the architect.</a>.<br>
            </div>
        </div>
    </div>
</div>



