body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('Images/wallpaper-1945409.jpg');
    background-color: black;
    overflow:hidden;
    background-size:cover;
    background-repeat:no-repeat;
}


.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;
    border: 23px solid #6495ed;
    overflow-y: overlay;
    overflow-x: overlay;
    /*dynamic width based on screensize*/
    max-width: 95%;
    margin: auto;
    margin-top:15px;
    overflow: auto;
    /*dynamic height based on screensize*/
    max-height: calc(100vh - 200px);
}

/*Health Exam Page CSS - start*/
.flex-container {
    display: flex;
    flex-wrap: wrap;
    border: ridge;
    padding: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 99%;
}

.flex-container-no-border {
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 99%;
}

.flex-container > p {
    font-size: 16px;
    font-weight: 700;
    margin-left: 20px;
}



.flex-row {
    width: 50%;
}

.checkbox-mainlabel 
{
    width: 100%
}

.checkbox-mainlabel > h4 
{
    font-weight: 900;
    margin-left: 15px;
}

.form-group-inline {
    margin-bottom: 15px;
    width: 60%;
    display: inline-grid;
}

.text-area {
    display: inline-grid;
    width: 60px;
    margin: 3px;
}

.check-box-health-exam {
    display:flex;
    flex-wrap: wrap;
}

.check-box-health-exam > label {
    margin-right: 10px;
}


/*Health Exam Page CSS - end*/

.check-box {
    margin-bottom: 15px;
    /*    display: contents;*/
}

    .check-box > label {
        margin-right: 10px;
    }
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 910px;
    border: 1px solid #ccc;
}

#test {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 51px;
    height: auto;
    margin: auto;
    width: 100%;
    background: #f9f9f9;
    border: 30px solid #6495ed;
    position: relative;
    color: black;
}

a.classname {
    background: url(../Content/Images/icon3.png) no-repeat top left;
    display: block;
    width: 60px;
    height: 51px;
    text-indent: -9999px; /* hides the link text */
}

.custom {
    width: 200px !important;
    height: 160px;
    display: inline-block;
}

h2{
    text-align:center;
}

h4{
    text-decoration-line:underline;
}

/* Style buttons */
.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    width: 165px;
    height: 80px;
    display: inline-grid;
}

/* Darker background on mouse-over */
.btn:hover {
    background-color: RoyalBlue;
}

/* Style buttons */
.home-btn {
    height: 200px;
    width: 200px;
    margin: 18px;
    background-color: cornflowerblue;
    border: none;
    color: black;
    font-family: Calibri;
    font-size: x-large;
    overflow: hidden;
    margin-right: 2em;
    margin-bottom: 2em;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    border-radius: 0.3em;
    padding: 10px;
    display: inline-block;
}



/* Darker background on mouse-over */
.home-btn:hover {
    background-color: RoyalBlue;
    color: white;
}

.btn-edit {
    background-color: yellow;
    color: black;
    font-family: Calibri;
    height: auto;
    width: auto;
}


.container {
    width: 100%;
    padding: 0px 10px 0px 10px;
}

.invisible-box {
    padding-top: 30px;
    height: 625px;
    width: 900px;
    margin: auto;
}
.invisible-boxpet {
    padding-top: 30px;
    height: 625px;
    width: fit-content();
    margin: auto;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 65%;
}

.centerimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    max-width: 80%;
    max-height: 120px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 25px;
    background-color: #101010;
    color: #9d9d9d;
    font-size: 12px;
    padding-left: 2px;
    padding-top: 3px;
}
/* Style buttons */
/*.home-btn {
    height: 200px;
    width: 200px;
    margin: 18px;
    background-color: cornflowerblue;
    border: 3.2px solid black;
    color: black;
    font-family: Calibri;
    font-size: x-large
}*/

/* Darker background on mouse-over */
/*.home-btn:hover {
    background-color: RoyalBlue;
    border-color: midnightblue;
    color:white;
}*/

.link-icon-edit:before {
    display: inline-block;
    height: 32px;
    width: 20px;
    font-family: "FontAwesome";
    content: "\f044";
    
}

.link-icon-details:before {
    display: inline-block;
    height: 32px;
    width: 20px;
    font-family: "FontAwesome";
    content: "\f05a";
}

.link-icon-delete:before {
    display: inline-block;
    height: 32px;
    width: 20px;
    font-family: "FontAwesome";
    content: "\f2ed";
}


.modal-bg{
    position:fixed;
    width:100%;
    height:100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s opacity 0.5s;
}

.bg-active{
    visibility: visible;
    opacity: 1;
}

.modal{
    position: relative;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    width: 30%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.modal button{
    padding: 10px 30px;
    background-color: #2980b9;
    color: white;
    border: none;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    cursor: pointer;
}

